@keyframes loading
  100%
    transform: rotate(360deg)

.page
  padding: 1rem 3rem

  & > div
    display: flex
    justify-content: center
    align-items: center

    margin-top: 1rem

    & > svg
      height: 2rem

      animation: loading 1s linear 0s infinite normal none

.fruitSection
  display: flex
  flex-wrap: wrap
  justify-content: space-evenly

.refreshButton
  padding: 1rem 2rem

  color: white
  background-color: orange

  border: solid 1px darkorange
  border-radius: 1rem
  
  font-size: large

  &:hover
    cursor: pointer
    background-color: darkorange

  &:active
    background-color: orange