@import '../../styles/_util.sass';

.layout
  position: relative
  min-height: 100%

.header
  position: sticky
  top: 0
  z-index: 1

  display: flex
  justify-content: space-between
  align-items: center

  height: 6rem

  background-color: $primary

  .title
    margin-left: 3rem

    color: white

.navigation
  float: right

  color: white

  ul
    display: flex

    margin-right: 3rem

    li
      display: flex

      margin-right: 3rem

      font-size: x-large

      svg
        width: 2rem
        margin-right: 1rem